@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family:"Inter",Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  background-image:url("./imgs/bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display:grid;
  place-items: center;
}
p{
  font-size:15rem;
  font-weight: 800;
  color: white;
}
.container{
  min-height:400px;
  width:50vw;
  /* background:rgba(0, 0, 0, 0.062); */
  border-radius:20px;
  display: grid;
  place-items:center;
  gap:30px;
}
#bottomContainer{
  display: flex;
  gap:20px ;
}
button{
  width:80px;
  height:80px;
  display: grid;
  place-items:center;
  border-radius:50%;
  font-size:2rem;
  background:#f17c53;
  border: none;
  cursor: pointer;
}
#resetBtn{
  background:#96446e;
}
button:hover{
  transform:scale(0.98)
}